<h1>New Messages</h1>

<%= form_tag conversations_path, :method => :post do %>

  <div>
    <p>Send message to: <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :first_name, :recipient) %></p>
  </div>

  <div>
    <%= text_field_tag :subject, nil, value: "Renting Washer",  :class => 'textField' %>
  </div>

  <div>
    <%= text_area_tag :body, nil, placeholder: "Eg. Dates, Location, Pickup?" %>
  </div>

  <%= submit_tag 'Click To Send' %>
<% end %>
