<h1>WASH ME</h1>

<body style= "text-align: center" >
  <%= form_tag washers_near_you_path, method: :get do %>
  <%= label :location, "search anywhere:" %>
  <%= text_field_tag :location, params[:location] %>

  <%= label :distance, "Distance(kms): " %>
  <%= select_tag :distance , options_for_select([10, 20, 50, 100]) %>

  <%= submit_tag "Search!" %>

  <% end %>
</body>
