<%= form_with(model: washer, local: true) do |form| %>

<script type="text/javascript">
  function initialize() {
    var input = document.getElementById('address');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>


<% if washer.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(washer.errors.count, "error") %> prohibited this washer from being saved:</h2>
    <ul>
      <% washer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= form.label :cost, 'Cost per kg' %>
    <%= form.text_field :cost, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control", id: "address" %>
  </div>

  <div class="field">
    <%= form.label :description, 'Extra services' %>
    <%= form.text_area :description, :cols => "50", :rows => "9" %>
  </div>

  <div class="field">
    <%= form.file_field :image, class: "custom-file" %>
  </div>

  <div class="field">
    <%= "Do you offer a Pickup/ Delivery service?" %><br>
    <p><%= form.radio_button :delivery, "Yes!" %> True </p>
    <p><%= form.radio_button :delivery, "No." %> False </p>
  </div>

  <div class= "action">
    <%= form.submit "Create Washer", class: "button" %>
  </div>

<% end %>
