<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @washer.user.first_name %> <%= @washer.user.last_name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @washer.cost %>
</p>

<p>
  <strong>Address:</strong>
  <%= @washer.full_address %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @washer.description %>
</p>

<p>
  <strong>Experience:</strong>
  <%= rating_for @washer, "experience" %>
</p>

<p>
  <% if @washer.image.present? %>
  <strong>Image:</strong>
  <%= image_tag(@washer.image.url, :gravity=>"face", :height=>150, :crop=>"thumb") %><br />
  <% end %>
</p>


<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDmo1j47I6KO4QRYJl_Z8PiSat_VhfWHnk&q=<%=@washer.full_address %>" allowfullscreen>
</iframe>


<% if @washer.nearbys(10).size > 0 %>
      <ul>
        <p>Other Nearby Locations</p>
        <% @washer.nearbys(10).each do |near_washer| %>
          <li><%= link_to near_washer.address, near_washer%> (<%= near_washer.distance.round(2)%> kms)</li>
        <% end %>
      </ul>
  <% else %>
      <p>No nearby washers! Sorry, try a differnent location.</p>
<% end %>


<%= link_to 'Edit', edit_washer_path(@washer) %> |
<%= link_to 'Back', washers_path %>
