<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @washer.user.first_name %> <%= @washer.user.last_name %>
</p>

<p>
  <strong>Profile Image:</strong>
  <% if @washer.user.avatar.present? %>
      <%= image_tag(@washer.user.avatar.url(:medium)) %> <br />
    <% else %>
      <%= cl_image_tag("profile-blank.png")%>
  <% end %>
</p>

<p>
  <strong>Cost:</strong>
  $<%= @washer.cost %> per kg
</p>

<p>
  <strong>Address:</strong>
  <%= @washer.full_address %>
</p>

<p>
  <strong>Pickup/Deliver:</strong>
  <%= @washer.delivery %>
</p>

<p>
  <% if @washer.description.present? %>
    <strong>Notes:</strong>
    <%= @washer.description %> <br />
  <% end %>
</p>

<p style= "display: none">
<% if current_user == @washer.user %>
  <% else %>
    <strong>Experience:</strong>
      <%= rating_for @washer, "experience", half_show: true%>
<% end %>
</p>

<p>
  <strong>Washer Image:</strong>
  <% if @washer.image.present? %>
      <%= image_tag(@washer.image.url(:medium)) %> <br/>
    <%else%>
      <%= "none available" %>
  <% end %>
</p>

<div>
  <h3>Contact <%= @washer.user.first_name.capitalize %></h3>
  <p>Message <%= link_to @washer.user.first_name.capitalize, new_conversation_path(:recipient => @washer.user) %></p>
  <p>Email: <%= @washer.user.email %></p>
</div>

<% if @washer.nearbys(10).present? %>
      <ul>
        <strong>Other Nearby Washers:</strong>
        <% @washer.nearbys(10).each do |near_washer| %>
          <li><%= link_to near_washer.address, near_washer %> (<%= near_washer.distance.round(2)%> kms)</li>
        <% end %>
      </ul>
<% end %>


<%= link_to 'Edit', edit_washer_path(@washer) %> |
<%= link_to 'Back', washers_path %>
