
<head>
  <link rel="stylesheet" href="/assets/cahrges.scss">
</head>

<body>
  <%= form_tag charges_path(money_sender: @sender) do %>
  <section>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
    <% else %>
        <% flash[:error] == nil%>
      </div>
    <% end %>
    <div>
      <%= label_tag(:amount, 'Amount to pay:')%>
      <%= text_field_tag(:amount) %>
    </div>
    <div>
      <%= hidden_field_tag(:stripeToken) %>
    </div>
    <button class= "button" id='donateButton'>Send Money</button>
    <% end %>
  </section>
</body>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  description: 'Send Money',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});

$(window).on('popstate', function() {
  handler.close();
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 5.00) {
    $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});
</script>
